.support {
  background-color: $color-light;
  padding: 5rem 0 8rem;

  &__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding-top: 5rem;
    }

    img {
      display: block;
      max-width: 12.5rem;
    }
  }
}
